@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Generic Styles */
$background-color:  #192B38;
$button-color:  #398B39;

$title-font-size: 4rem;

$large-button-width: 80vw;
$large-button-max-width: 400px;
$large-button-height: 18vw;
$large-button-max-height: 70px;
$large-button-border-radius: 20vw;
$large-button-font-size: 1.75rem;

$input-font-size: 1rem;
$red: #C42D2D;
body {
  background-color: $background-color;
  color: white;
  font-family: Quicksand, sans-serif;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  margin: 0;
  padding: 0;

}

#root {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100vh;

}

h1 {
  font-size: $title-font-size;

}

button {
  outline: none;
  border: none;
  color: white;
  font-family: Quicksand, sans-serif;
}

button:hover {
  cursor: pointer;
}

.button-large {
  background-color: $button-color;
  width: $large-button-width;
  max-width: $large-button-max-width;
  height: $large-button-height;
  max-height: $large-button-max-height;
  margin: auto;
  border-radius: $large-button-border-radius;
  font-size: $large-button-font-size;
  font-weight: bold;
  vertical-align: center;
}

input {
  box-sizing: border-box;
  width: $large-button-width;
  max-width: $large-button-max-width;
  height: $large-button-height;
  max-height: $large-button-max-height;
  border-radius: $large-button-border-radius;
  font-size: $input-font-size;
  border: none;
  outline: none;
  margin: auto;
  padding: 0 65px 0 10px;
  font-family: Quicksand, sans-serif;

}

.invalid-button {
  background-color: #97c7a4;
}

.invalid-button:hover {
  cursor: initial;
}
.valid {
  border: 2px solid $button-color;
}

.invalid {
  border: 2px solid $red;

}

.bold {
  font-weight: bold;
}


/* Game Screen Styles */

.player-name {
  display: inline-block;
  vertical-align: center;
  margin: auto 50px;
  font-weight: bold;
}

#do-not-open {
  color: #C42D2D;
}