*.iml
.idea
out/

src/public/node_modules
public/.pnp
/public/.pnp.js

public/coverage

public/build

public/.DS_Store
public/.env.local
public/.env.development.local
public/.env.test.local
public/.env.production.local

public/npm-debug.log*
public/yarn-debug.log*
public/yarn-error.log*

build/

.gradle/
