
.names {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
}

h3 {
  margin: 5px;
}

#copy_button {
  width: 100px;
}

#copy {
  text-align: center;
  width: 100px;
  margin: 20px auto;
}