.App {
  text-align: center;
  margin: auto;

}

.player_input {
  display: inline-block;
}

.player-submit:hover {
  cursor: pointer;
  border: 1px solid lightgray;
  color: lightgray;

}


#join-submit {
  height: 38px;
  width: 50px;
  margin: 10px;
}

#add-submit {
  height: 38px;
  width: 50px;
  margin: 10px;
}


.player-submit  {
  outline: none;
  margin: 10px;
  height: 38px;
  background-color: Transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: 10pt;
  border-radius: 20px;


}

.options {
  z-index: 5;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid #585859;
}

.invalid_start:hover {
  cursor: auto;
  opacity: 0.75;
  color: white;
  border: 1px solid white;

}

.invalid_start {
  z-index: 0;
  opacity: 0.75;
  color: white;
  font-weight: bold;
  margin: 30px auto 10px auto;
  font-size: 14pt;
  height: 50px;
  width: 200px;
  padding: auto;
  vertical-align: center;
}

.invalid_start p {
  margin: auto;
}

.rules_wrapper {
  position: absolute;
  top: 5vh;
  left: 50%;
  margin-bottom: 30px;
  transform: translateX(-50%);
  border: 10px solid #4f4f4f;
}
.rules {
  margin: 0;
  padding: 20px;
  text-align: left;
  background-color: white;
  color: #4f4f4f;
  overflow-y: scroll;
  overflow-x: auto;
  height: 90vh;
  width: 80vw;
  max-width: 600px;

}
.exit_button:hover {
  color: grey;
  cursor: pointer;
  outline: none;
  border: none;
}
.exit_button {
  outline: none;
  border: none;
  position: absolute;
  top: 5px;
  font-size: 24pt;
  left: 95%;
  color: grey;
  margin: 0;
  padding: 0;
}
.rules h1 {
  margin: 0 auto;
  color: #4f4f4f;

}

.info_button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid white;
  background: none;

}

.player_tags {
  max-width: 500px;
  margin: auto;
}
