@font-face { font-family: Enchanted-Land; src: url('../fonts/Enchanted-Land.otf'); }
@font-face { font-family: Cardinal; src: url('../fonts/Cardinal.ttf'); }
@font-face { font-family: Yataghan; src: url('../fonts/Yataghan-Regular.otf'); }
@font-face { font-family: Quicksand; src: url('../fonts/Quicksand_Book.otf'); }
@font-face { font-family: Quicksand-Bold; src: url('../fonts/Quicksand_Bold.otf'); }



textarea, select, input, button { outline: none; }

body {
  margin: 0;
  text-align: center;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/excalibur_by_psdeluxe_d8a6nxy-pre.jpg");
  background-repeat: no-repeat;
  background-size: auto 120vh;
  background-attachment: fixed;
  background-position: center top;
  min-height: 100%;
  font-family: Quicksand;



}

.name {
  white-space: pre;
}


.lobby {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.lobby input {
  margin: 10px auto;
  width: 200px;
  height: 30px;

}

.player_input {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.player_input input{
}

.large_button {
  margin: 30px auto 10px auto;
  font-size: 14pt;
  height: 50px;
  width: 200px;
}

button:hover {
  background-color: Transparent;
  border: 1px solid lightgray;
  color: lightgray;
  cursor: pointer;
}

button {
  font-family: Quicksand-Bold;
  vertical-align: center;
  background-color: Transparent;
  border: 1px solid white;
  outline:none;
  border-radius:30px;
  color: white;
  font-weight: bold;
}


input[type=submit]{
  font-family: Quicksand-Bold;

}

input[type=text]{
  font-family: Quicksand;

}

.small_button {
  margin: 10px;
  font-size: 11pt;
  padding: 10px;

}

.lobby h1 {
  max-width: 200px;

}


h1 {
  color: white;
  padding: 10px;
  text-align: center;
  margin: 50px auto;
  font-size: 45pt;
  font-family: Cardinal;
}

