@font-face { font-family: Enchanted-Land; src: url('../fonts/Enchanted-Land.otf'); }
@font-face { font-family: Cardinal; src: url('../fonts/Cardinal.ttf'); }
@font-face { font-family: Yataghan; src: url('../fonts/Yataghan-Regular.otf'); }
@font-face { font-family: Quicksand; src: url('../fonts/Quicksand_Book.otf'); }
@font-face { font-family: Quicksand-Bold; src: url('../fonts/Quicksand_Bold.otf'); }



textarea, select, input, button { outline: none; }

body {
  margin: 0;
  text-align: center;
  padding: 0;
  font-family: Quicksand;


}


body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../public/excalibur_by_psdeluxe_d8a6nxy-pre.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.name {
  white-space: pre;
}


.lobby {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.lobby input {
  margin: 10px auto;
  width: 200px;
  height: 30px;

}

.player_input {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.player_input input{
}

.large_button {
  text-shadow: 2px 3px 3px rgba(0,0,0, .25);
  box-shadow: 2px 3px 3px rgba(0,0,0, .25);
  margin: 30px auto 10px auto;
  font-size: 14pt;
  height: 50px;
  width: 200px;
}

button:hover {
  background-color: Transparent;
  border: 1px solid lightgray;
  color: lightgray;
  cursor: pointer;
}

button {

  font-family: Quicksand-Bold;
  vertical-align: center;
  background-color: Transparent;
  border: 1px solid white;
  outline:none;
  border-radius:30px;
  color: white;

  font-weight: bold;

}


input[type=submit]{
  font-family: Quicksand-Bold;
  margin: 10px;
  outline: none;
  border: none;
  height: 30px;
}

input[type=submit]:hover {
  cursor: pointer;

}
input[type=text]{
  font-size: 16px;
  display: block;
  margin: 10px auto;
  font-family: Quicksand;

}

.small_button {
  text-shadow: 2px 3px 3px rgba(0,0,0, .25);
  box-shadow: 2px 3px 3px rgba(0,0,0, .25);
  margin: 10px;
  font-size: 11pt;
  padding: 10px;

}

.lobby h1 {
  text-shadow: 2px 3px 3px rgba(0,0,0, .25);


}


h1 {
  color: white;
  padding: 10px;
  text-align: center;
  margin: 50px auto;
  font-size: 45pt;
  font-family: Cardinal;
}

