body {
    color: white;
}

.player_info {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 400px;
    margin: auto;

}

.description {
    text-align: left;
    margin: 10px 0;

}
.player_info ul {

    list-style: none;
    text-align: left;

}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: left;
}

.player_title {
    font-family: Cardinal;
    font-size: 30pt;
}

li {
    margin: 10px 0;
}
.donotopen {
    margin: 50px auto;
    text-align: center;
    font-weight: bold;
}

.donotopen ul {
    max-width: 300px;
    text-align: left;
    margin: auto;
}

#show_button {
    margin: auto;
}

.description {
    max-width: 600px;
    overflow-wrap: normal;
    display: inline-block;
    width: 400px;
    white-space:normal;
}