@import 'index.scss';

/* Background Styles*/
.background-img {
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: -25;
  top: 100vh;

}

#background-left {
  height: 40vh;
  margin-top: -38vh;
  margin-left: -20px;
  left: 0;

}

#background-right {
  height: 40vh;
  margin-top: -36vh;
  left: 100vw;
  margin-left: -22vh;


}

/* App styles */
.App {
  text-align: center;
  z-index: 100;
}

.rules-button {
  background: transparent;
  border: 1px solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5rem;
  top: 10px;
  left: 100vw;
  margin-left: -2em;
  position: absolute;
  z-index: 5;
}

.Rules {
  background: white;
  color: $background-color;
  width: 94vw;
  height: 96vh;
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -47vw;
  padding: 10px;
  overflow: scroll;

  h1 {
    text-align: center;
  }

  .close-button {
    top: 20px;
    position: fixed;
    left: 94vw;
    width: 2em;
    margin-left: -2.625em;
    color: $background-color;
    z-index: 7500;
    background: transparent;
  }
  .close-button:hover {
    cursor: pointer;
  }
}


.help-text {
  margin: 5px auto;
  font-size: .5rem;
}