@import 'index.scss';
$player-font-size: 1.5rem;


.Game,
.Player {
  display: flex;
  flex-direction: column;
  font-family: Quicksand, sans-serif;

  h1 {
    margin: 30px auto 0 auto;
  }

  p {
    margin-top: 10px;
  }

  ul {
    list-style: none;
    margin : 10px 0;
    padding: 0;
  }
}





.player-list {
  list-style: none;
  padding: 0;
  z-index: 18;
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  li {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    margin: 5px auto;
    font-size: $player-font-size;

    a {
      color: black;
      text-decoration: none;
      width: 90vw;
      padding-left: 20px;
      display: block;
      text-align: left;
    }

    li:hover {
      cursor: pointer;
    }
  }
}

.red {
  color: $red;
  a {
    color: $red;

  }
}
.green {
  color: $button-color;
}

.start {
  margin: 20px auto 5px auto;
  font-size: $player-font-size;

}

.role-text {
  margin: 0;
  font-weight: bold;
  padding: 0;
}

.game-indent {
  padding-left: 20px;


}
.role {
  margin: 30px auto 10px auto;
}

.description {
  margin: 10px auto;
  display: block;
}

.bold {
  font-weight: bold;
}

.DoNotOpen {
  h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 20px auto;


  }
  h2 {
    margin: 10px auto;
    text-align: center;
  }

  display: flex;
  flex-direction: column;
}
.do-not-open-block {
  display: block;
  margin: 5px auto;
  z-index:5 ;
}


