@import 'index.scss';
$icon-size: 2.5rem;

.Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    margin: 10vh auto 5vh auto;
  }

}

.home-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  .button-large {
    margin-top: 30px;
  }
}

.back-button {
  outline: none;
  background: transparent;
  font-size: 50px;
  position: fixed;
  top: -15px;
  left: 0;
  font-weight: bold;


}

.input-wrapper {
  position: relative;
  margin: 30px auto 0 auto;
  width: $large-button-width;
  height: $large-button-border-radius;
  max-width: $large-button-max-width;
  max-height: $large-button-max-height;

}
.validate-icon {
  position: absolute;
  left: 80%;
  font-size: $icon-size;
  top: 50%;
  margin: -$icon-size/2 -10px auto auto;
}

.invalid-icon {
  color: $red;
}

.valid-icon {
  color: $button-color;

}

.recent-games-list {
  width: 90vw;
  max-width: 600px;
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    text-align: left;
    margin: 5px auto;

    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
      width: 100%;
      display: block;
      text-align: left;

    }
  }
}



